/* navbar */
.navbar-default {
    background-color: #4d201a;
    border-color: #4d201a;
}
/* Title */
.navbar-default .navbar-brand {
    color: #c2ba47;
    height: 50px;
    font-size: 25px;;

    /* Link */}
.navbar-default .navbar-nav > li > a {
    color: #c2ba47;
    font-size: 15px;;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

body {
    font-family: "Noto Serif", "Noto Serif JP", serif;
    font-weight:500;
}

h3 {
    color: gray;
}

h4 {
    color: gray;
}

p {
    margin-left: 15px;
}

hr { border: none;
     border-top: 1px solid #98a820;
     margin-top: 35px;
}
