{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}沖繩語辞典{% endblock %}

{% block page_content %}
<div class="page-body">
    <h3>この辞典について</h3>
    <p>
	本オンライン辞典のデータは、国立国語研究所が発行しているの以下の辞書データを元に作られています。
	<ul>
	    <li><a href="https://mmsrv.ninjal.ac.jp/okinawago/" target="_blank">沖縄語辞典</a></li>
	    <li><a href="https://repository.ninjal.ac.jp/?action=repository_uri&item_id=3226&file_id=43&file_no=1">うちなーぐち活用辞典(宮良信詳著)</a></li>
	</ul>
	かなの表記は、沖縄県が策定した
	<ul>
	    <li><a href="https://www.pref.okinawa.lg.jp/site/bunka-sports/bunka/shinko/simakutuba-hyouki.html" target="_blank">『沖縄県における「しまくとぅば」の表記について』</a></li>
	</ul>
	の沖縄語の表記に基づいています。
    </p>
    <h3>リンク集</h3>
    <h5>ソースコード</h5>
    <p>
	<a href="https://github.com/hissanova/okinawago-dictionary-app.git">
	https://github.com/hissanova/okinawago-dictionary-app.git
	</a>
    </p>
    <h5>沖縄語辞典の電子データ</h5>
    <p>
	<a href="https://github.com/hissanova/okinawago_dictionary.git">
	https://github.com/hissanova/okinawago_dictionary.git
	</a>
    </p>
    <h5>Twitter アカウント</h5>
    <p><a href="https://twitter.com/okinawago_app">@okinawago_app </a></p>
    <hr />
    <p>
	このサイトのURLを以下のQR Codeからスキャンできます:<br />
	<img src="static/qrcode-okinawago-app.png"
	     alt="https://okinawago.app"
	     width="100"
	     height="100"/>
    </p>
</div>
{% endblock %}
