{% extends "bootstrap/base.html" %}

{% block title %}沖縄語辞典{% endblock %}

{% block head %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='kanji_oki.png') }}"
      type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='kanji_oki.png') }}"
      type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation" color=red>
    <div class="container" >
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle"
		    data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/"><span color="yellow"> 沖繩語辞典</span></a>
	</div>
	<div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
		<li><a href="/">ホーム</a></li>
	    </ul>
	</div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
