{% extends "bootstrap/base.html" %}

{% block title %}沖縄語辞典{% endblock %}

{% block head %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='kanji_oki.png') }}"
      type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='kanji_oki.png') }}"
      type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container" >
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle"
		    data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">沖繩語辞典</a>
	</div>
	<div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
		<li><a href="/">ホーム</a></li>
		<li><a href="/pronunciation">発音とカナ表記</a></li>
		<li><a href="/about">この辞典について</a></li>
	    </ul>
	</div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% macro render_phonetics(phonetics_obj, accent) -%}
<table class="tg">
<tbody>
  <tr>
    <th class="tg-0lax">音素</th>
    <td class="tg-0lax">
	/{{ phonetics_obj.phonemes.original | safe }}
	{% if phonetics_obj.phonemes.original != phonetics_obj.phonemes.simplified %}
	,{{ phonetics_obj.phonemes.simplified}}
	{% endif %}
	/
    </td>
  </tr>
  <tr>
    <th class="tg-0lax">カナ</th>
    <td class="tg-0lax">
    {{",".join(phonetics_obj.pronunciation.HEIMIN.kana)}}
      {% if phonetics_obj["pronunciation"].get("SHIZOKU") %}
	,(士){{",".join(phonetics_obj.pronunciation.SHIZOKU.kana)}}
      {% endif %}
    </td>
  </tr>
  <tr>
    <th class="tg-0lax">IPA</th>
    <td class="tg-0lax">
	〔{{phonetics_obj.pronunciation.HEIMIN.IPA}}〕
	{% if phonetics_obj["pronunciation"].get("SHIZOKU") %}
	,(士)〔{{phonetics_obj.pronunciation.SHIZOKU.IPA}}〕
	{% endif %}
    </td>
  </tr>
  <tr>
    <th class="tg-0lax">アクセント</th>
    <td class="tg-0lax">{{accent}}</td>
  </tr>
  
</tbody>
</table>
{%- endmacro %}

{% macro render_okinawago_sentence(phonetics_obj) -%}
  <p>
    <i> {{phonetics_obj.pronunciation.HEIMIN.kana[0]}} </i>
    {% if phonetics_obj["pronunciation"].get("SHIZOKU") %}
      (士: <i> {{phonetics_obj.pronunciation.SHIZOKU.kana[0]}} </i>)
    {% endif %}
    <br>
    〔{{phonetics_obj.pronunciation.HEIMIN.IPA}}
    {% if phonetics_obj["pronunciation"].get("SHIZOKU") %}
      (士: {{phonetics_obj.pronunciation.SHIZOKU.IPA}})
    {% endif %}
    〕
  </p>
{%- endmacro %}
