{% extends "base.html" %}

{% block title %}沖縄語辞典{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h2>「{{ word }}」の意味</h2>
    <hr>
    {% if contents %}
      {% if dict_type == "oki2yamato" %}
	{% for content in contents %}
	  <h4>見出し語</h4> <p>{{ ",".join(content.index) }}</p>
	  <h4>発音</h4> <p>/{{ content.pronunciation }}/、アクセント:{{ content.accent }}</p>
	  <h4>品詞</h4> <p>[{{ content.pos }}]</p>
	  <h4>意味</h4>
	  {% for meaning in content.meaning %}
	    <p>{{ meaning }}</p>
	  {% endfor %}
	  <h4>備考・補足</h4>
	  {% if content['bungo-type'] %}
	    <p>文語の型:{{content['bungo-type'] }}</p>
	  {% endif %}
	  {% if content.remarks %}
	    <p>備考:{{ content.remarks }}</p>
	  {% endif %}
	  {% if content.amendment %}
	    <p>補足:{{ content.amendment }}</p>
	  {% endif %}
	  <hr>
	{% endfor %}
      {% elif  dict_type == "yamato2oki" %}
	{% for content in contents %}    
	  <h4>見出し語</h4> <p>{{ ",".join(content.index) }}</p>
	  <h4>漢字</h4> <p>{{ content.kanji }}</p>
	  <h4>説明</h4> <p>{{ content.explanation }}</p>
	  <h4>内容</h4>
    <p>沖縄語：
      <ul>
	{% for item in content.contents.base %}
	  {% if item['kana'] %}
	    <li>
	      {% if item['lang'] == 'Okinawa' %}
		{% if item['reference'] %}c.f. {% endif %}
		<a href="/definition/oki2yamato/{{ item['kana'] | first | urlencode }}">
		  {{ ",".join(item['kana']) }}</a> /{{ item['pronunciation'] }}/
	      {% elif item['lang'] == 'Yamato' %}
		{% if item['reference'] %}c.f. {% endif %}
		<a href="/definition/yamato2oki/{{ item['kana'] | urlencode }}">
		  {{ item['kana'] }}</a>
	      {% endif %}
	    </li>
	  {% endif %}
	{% endfor %}
      </ul>
    </p>
    <p>関連語・フレーズ：
      <ul>
	{% for item in content.contents.related %}
	  <li>{{ ",".join(item) }} </li>
	{% endfor %}
      </ul>
    </p>
    <hr>
  {% endfor %}    
{% endif %}
{% else %}
  <p>見つかりませんでした。</p>
{% endif %}
  </div>
{% endblock %}
