{% extends "base.html" %}

{% block title %}沖縄語辞典{% endblock %}

{% block page_content %}
  <div class="page-body">
    {% if contents %}
      {% for content in contents %}
	<hr>
	<h2>{{ ",".join(content.index) }}</h2> 
	<h4>発音</h4>
          <p>{{ render_phonetics(content.phonetics, content.accent) }}</p> 
	<h4>品詞</h4>
	<p>[{{ content.pos.type }}]</p>
	<h4>意味</h4>
	{% for meaning in content.meaning %}
	  {% for paragraph in meaning %}
	    {% if paragraph.get("yamato") %} 
	      <p>{{ paragraph.yamato }}</p>
	    {% elif paragraph.get("okinawago") %}
	      <p>{{ render_okinawago_sentence(paragraph.okinawago) }}</p>
	    {% endif %} 
	  {% endfor %}
	{% endfor %}
	{% if content.pos.conjugation %}
	<h4>活用</h4>
        <p>
	  {{render_conjugation_table(content.pos.conjugation)}}
	</p>
	{% endif %}
	{% if content['bungo-type'] %}
	  <p>文語の型:{{content['bungo-type'] }}</p>
	{% endif %}
	{% if content.remarks %}
	  <p>備考:{{ content.remarks }}</p>
	{% endif %}
	{% if content.amendment %}
	  <p>補足:{{ content.amendment }}</p>
	{% endif %}
      {% endfor %}
      <hr>
    {% else %}
      <p>見つかりませんでした。</p>
    {% endif %}
  </div>
{% endblock %}

{% macro render_conjugation_table(conjugation_obj) -%}
  <table>
    <thead>
      <tr>
	<th>語幹</th>
	<th colspan="2">活用</th>
      </tr>
    </thead>		
    <tr>
      <td> 基本語幹 /{{ conjugation_obj.stems.基本 }}-/ </td>
      <td> 否定形 </td>
      <td>
	{{ conjugation_obj.基本派生形.否定形.kana }} /{{ conjugation_obj.基本派生形.否定形.pronunciation }}/
      </td>
    </tr>
    <tr>
      <td> 連用語幹 /{{ conjugation_obj.stems.連用 }}-/ </td>
      <td> 連用形 </td>
      <td>
	{{ conjugation_obj.連用派生形.連用形.kana }} /{{ conjugation_obj.連用派生形.連用形.pronunciation }}/
      </td>
    </tr>
    <tr>
      <td rowspan="3"> 音便語幹 /{{ conjugation_obj.stems.音便 }}-/ </td>
      <td> 過去形 </td>
      <td>
	{{ conjugation_obj.音便派生形.過去形.kana }} /{{ conjugation_obj.音便派生形.過去形.pronunciation }}/
      </td>
    </tr>
    <tr>
      <td> てぃ形 </td>
      <td>
	{{ conjugation_obj.音便派生形.て形.kana }} /{{ conjugation_obj.音便派生形.て形.pronunciation }}/
      </td>
    </tr>
    <tr>
      <td> 継続形 </td>
      <td>
	{{ conjugation_obj.音便派生形.継続形.kana }} /{{ conjugation_obj.音便派生形.継続形.pronunciation }}/
      </td>
    </tr>
  </table>
{%- endmacro %}
