{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}沖繩語辞典{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>沖縄語辞典</h1>
    このページは沖縄語辞典アプリのページです。
    <a href="https://mmsrv.ninjal.ac.jp/okinawago/" target="_blank">国立国語研究所の沖縄語辞典</a>
    の単語を、かなの見出し語で検索できます。かなの表記は、沖縄県が策定した
    <a href="https://www.pref.okinawa.lg.jp/site/bunka-sports/bunka/shinko/simakutuba-hyouki.html" target="_blank">『沖縄県における「しまくとぅば」の表記について』</a>
    に基づいています。
</div>
{{wtf.quick_form(enquiry_form) }}
{% endblock %}
